/*body {
  background-color: #192B33;
}

.container {
  width: 66%;
  height: 800px;
  margin: auto;
  margin-top: 100px;
}

th {
  text-align: left;
}

#main-welcome-box{
  margin-top: 150px;
  text-align: center;
  padding: 25px;
}

#main-welcome-box h1{
  font-family: 'Homemade Apple', cursive;
  font-size: 90px;
  color: white;
}

#main-welcome-box .main-button{
  display: inline-block;
  margin:auto;
  padding:10px;
  background-color: #CCCC52;
  color: #192B33;
}
#welcome {
  text-align: center;
  font-size: 3em;
  color: white;
  font-family: 'Homemade Apple', cursive;
}

#deck-display {
  text-align: center;
  margin: auto;
  background-color: #CCCC52;
  width: 40%;
  padding: 15px;
  margin-top: 10%;
}

.footer {
  margin-bottom: 0px;
  text-align: center;
  margin: auto;
  padding: 15px;
  background-color: #CCCC52;
  width: 40%;
}

.guess-option-box {
  color: black;
  background-color: #FFD933;
}

#display-question-tweet {
  background-color: #FFD933;
  padding: 10px;
}

#deck-display h1{
  font-family: 'Homemade Apple', cursive;
}
*/

/*.card{
  width:250px;
  text-align:center;
  display:inline-block;
  height:125px;
}*/


.card-title p{
  font-size:20px;
  line-height:1.3em;
}

.container{
  text-align: center;
}

#result-display{
  margin:100px auto;
  width:50%;
  text-align:center;
  padding:15px;
}

#deck-option{
  height:125px;
}



@import url(http://weloveiconfonts.com/api/?family=fontawesome);


[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  color: white;
  font-size:23px;
  margin-right:10px;
}