.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

#main-welcome-box{
  margin: auto;
  border: 1px solid black;
  box-shadow: 2px 2px 2px gray;
  text-align: center;
  padding: 25px;
}

#main-welcome-box .main-button{
  border:1px solid blue;
  display: inline-block;
  margin:auto;
  padding:10px;
}
