<form id="new-user-form" action="/users/new" method="post">
<input type="text" name="user[name]" placeholder="Enter Your Name" value="<%= user.name %>"><br>
<input type="password" name="user[password]" placeholder="Enter Password"><br>
<input type="submit" value="Create User">
</form>

