<h1>Welcome, <%= @user.name %> </h1>
<p>This is your profile!</p>
<a href ="/users/logout">Log Out</a>


<h3>Play A Deck</h3>

<!-- links to decks to play new games  -->
<!-- <a href="/games/:deck_id/new">Play this game!</a> -->

