<nav class="#ffa726 orange lighten-1">
  <div>
    <a href="/users/<%= @user.id %>/profile" class="brand-logo thin">  Welcome, <%= @user.name %></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href ="/users/logout">Log Out</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h4 >Choose a deck to play!</h4>
    <div class="row">
    <% @decks.each do |deck| %>

        <div class="col s12 m6">
          <div id="deck-option" class="card orange lighten-2">
            <div class="card-content white-text">
              <span class="card-title">
                <p><%= deck.name %></p>
                <a href="/games/new/<%=deck.id%>">play</a>
              </span>
            </div>
          </div>
        </div>

    <% end %>
    </div>

</div>

<!-- links to decks to play new games  -->
<!-- <a href="/games/:deck_id/new">Play this game!</a> -->

