<h1 id="welcome">Welcome, <%= @user.name %> </h1>

<div id="deck-display">
  <h3>Play A Deck</h3>
  <% @decks.each do |deck| %>
    <a href="/games/new/<%=deck.id%>"><%= deck.name %></a>
    <p><%= deck.description %></p>
  <% end %>
</div>

<div class="footer"><a href ="/users/logout">Log Out</a></div>

<!-- links to decks to play new games  -->
<!-- <a href="/games/:deck_id/new">Play this game!</a> -->

